/*

Theme Name: X – Child Theme
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to X in this child theme.
Version: 1.0.0
Template: x

*/
a.product-quote {
        color: #fff;
    border-color: rgb(199,116,2);
    background-color: rgb(255,148,0);
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
    box-shadow: 0 0.25em 0 0 rgb(216,133,18), 0 4px 9px rgba(0,0,0,0.75);
    border-radius: 0.25em;
    padding: 0.563em 1.125em 0.813em;
    font-size: 16px;
    margin-left: 15px;
}


a.product-quote:hover {
    color: #fff;
    border-color: rgb(175,170,170);
    background-color: rgb(119,116,115);
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
    box-shadow: 0 0.25em 0 0 rgb(57,55,55), 0 4px 9px rgba(0,0,0,0.75);
}
.bottom-cant {
    margin-top: 5px;
}
a.woocommerce-product-gallery__trigger {
    display: none;
}
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image a img {
    width: 100%;

    }
body{
background: #fff !important;    
}
.x-root .site, .x-root .x-site {
    background: #fff !important;
}
.col-sm-3 {
    width: 32%;
    
    margin-right: 10px;
    float: left;
}
.col-sm-3-p {
    width: 32%;
    min-height:400px;
    margin-right: 10px;
    float: left;
}
aside.x-sidebar.right.po {
    margin-top: 60px;
}
.show-all {
    width: 100%;
    display: inline-block;
    float: right;
    margin-bottom: 50px;
}
.product-details h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    padding: 0px 10px;
}
.products-list h2 {
    font-size: 21px;
    font-weight: 600;   
    margin-bottom: 30px;
}


.portfolio-makers h2 {
    font-size: 21px;
    font-weight: 600;   
    margin-bottom: 30px;
}
.x-row.search {
    margin-bottom: 10px;
    display: inline-block;
        width: 100%;
}

.product-info {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
}
.bottom-section-search {
    text-align: center;
}
.top-img-section p, .products-list > h2, .quote-section > p, .web-or, .portfolio-makers > h2 {
    font-size: 20px;
    font-weight: 900;
    color: #AA8966;
}
.web-results > a {
  color: #184B84;
  display: inline-block;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 11px;
}
.web-results {
    color: #AA8966;
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 11px;
}
.web-results a {
    font-size: 24px;
}
.web-results {
    float: left;
    margin-top: 22px;
    overflow: visible;
    width: 100%;
}
.products-list > h2, .portfolio-makers > h2{
margin-bottom: 12px;
}
.quote-section > p {
    margin: auto;
    width: 80%;
}
.show-all button {
    float: right;
}
.show-all a {
    float: right;
    background: rgb(9,152,210);
    padding: 5px 10px;
    color: #fff;
}
.show-all a:hover {
    background: #AA8966;
    color: #fff;
}
.e16881-130.x-text a {
    padding: 10px 30px;
}
.quote-buttn button {
    background: rgb(255,148,0);
    color: #fff;
    border-color: rgb(199,116,2);
}
/*26-11-18 start*/
.entry-product .entry-featured img {
    max-width: 267px !important;
    width: 100% !important;
}
.entry-product .product-info {
    min-height: auto;
}
.x-row.search .col-sm-3 {
    width: 31%;
}


/*17-12-2018 start ccs*/
.page-id-485 .entry-wrap .cs-content .x-section{padding: 30px 0 30px 0px;}
.page-id-485 .entry-wrap{padding: 0px;}
.page-id-485 .entry-wrap .cs-content .x-section .e485-21.x-anchor{margin: 20px 0;}
.page-id-485 .entry-wrap .cs-content .e485-36.x-section{padding-top: 0px;}
.page-id-485 .e485-20.x-text p:nth-of-type(1){margin-top: 20px;}
.page-id-410 .entry-content.content p:nth-of-type(1) strong:nth-of-type(1){font-size: 24px;}
.page-id-410 .wpcf7 p input,.page-id-410 .wpcf7 p textarea {box-shadow:none;}
.page-id-410 .entry-wrap{padding: 40px;}
.page-id-410 .entry-wrap .entry-content{padding: 30px;border-radius: 5px;background-color:f3f3f3;color:#848484; }
.page-id-410 div.wpcf7 form.wpcf7-form p label{background: rgba(255, 255, 255, 0.28);padding: 13px;margin:15px 0px;}
.page-id-410 div.wpcf7 form.wpcf7-form p .wpcf7-submit{margin: 15px 0 0 0;width: 150px;}
.page-id-410 .entry-content.content p:nth-of-type(1) strong:nth-of-type(2){color: #0898cc;}



/*17-12-2018 end ccs*/

/******************************12-14-2018****************/
div#dasktop_tab_view_img img {
    width: 100% !important;
    height: auto !important;
}  
div#mobile_view_image {
    display: none;
} 
 
/*responsive start*/
@media only screen and (max-width: 1249px) {

.x-brand {
    max-width: 164px;
    
}
}

@media only screen and (max-width: 1180px) {
.x-brand {
    width: 100%;
    max-width: 198px;
}
.product-details h3 {
    font-size: 15px;
}
.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
    padding-left: 0px !important;
    padding-right: 10px !important;
}
}

@media only screen and (max-width: 1024px) {
.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
    padding-left: 0px !important;
    padding-right: 10px !important;
}
.x-brand {
    max-width: 164px;
}

}

@media only screen and (max-width: 979px){
.x-brand {
    width: auto;
    max-width: 340px;
}
.product-details h3 {
    font-size: 14px;
}
.x-navbar .x-btn-navbar{margin-top: 30px;}
.x-navbar .x-brand{margin-top: 0;}
}

@media only screen and (max-width: 767px){
.x-row .x-column.x-sm.x-1-3 {
    margin-bottom: 30px;
}
.x-row.search {
    text-align: center;
}
.page-id-485 .site .x-container.max{padding: 15px;}
.page-id-485 .entry-wrap .e485-27.x-section{padding-top: 0px;}
.page-id-485 .entry-wrap .cs-content .x-section{padding: 30px 10px 30px 10px;}
.page-id-410 .entry-wrap .entry-content{padding: 20px;}
.page-id-410 .entry-wrap{padding: 20px;}
}

@media only screen and (max-width: 500px){
.x-navbar-wrap .x-navbar .x-btn-navbar{margin-top: 23px;font-size: 17px;}
.page-id-485 .site .x-container.max{padding: 0 20px;}
.page-id-485 .entry-wrap .cs-content .x-section{padding: 10px;}
.page-id-485 .e485-2.x-container.max.width,.page-id-485 .e485-33.x-container.max.width{padding: 0;}
.page-id-410 .entry-wrap{padding: 10px;}

}
@media only screen and (max-width: 570px){
.x-row.search .col-sm-3 {
    width: 100%;
    float: none;
    margin: 0 auto 30px;
}
.entry-product .product-info {
    min-height: auto;
}
.h-landmark {
    font-size: 36px;
}
.p-landmark-sub {
    font-size: 20px;
}
.show-all a {
    float: none;
}
.show-all {
    float: none;
    text-align: center;
}
products-list > h2, .portfolio-makers > h2 {
    text-align: center;
    font-size: 18px;
}
.products-list > h2, .portfolio-makers > h2 {
    font-size: 18px;
    text-align: center;
}
.top-img-section p, .products-list > h2, .quote-section > p, .web-or, .portfolio-makers > h2 {
    font-size: 18px;
}
.quote-section > p {
    font-size: 18px;
}
.col-sm-3-p .entry-product .entry-featured img {
    max-width: 100% !important;
    width: 100% !important;
}
.col-sm-3-p {
    width: 53%;
    min-height: 380px;
    margin: auto;
    float: none;
}
.entry-product .entry-featured img {
    max-width: 100% !important;
    width: 100% !important;
}
@media only screen and (max-width: 540px){
.bottom-section-search div#mobile_view_image img {
    width: auto !important;
    height: auto !important;
}
.bottom-section-search div#mobile_view_image {
    display: block;
}
div#dasktop_tab_view_img{
    display:none;
}
}
@media only screen and (max-width: 470px){
.col-sm-3-p {
    width: 100%;
}
    }
@media only screen and (max-width: 420px){
.x-row.search .col-sm-3 {
    width: 100%;
    float: none;
    margin: 0 auto 30px;
}
.x-row.search .col-sm-3-p {
    width: 100%;
    float: none;
    margin: 0 auto 30px;
}
}
/*responsive close*/
    
div#top span.advanceseacrh {
    position: absolute;
    right: 0;
    top: 0;
}